<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>QSRubyModule</string>
	<key>CFBundleIdentifier</key>
	<string>com.x0.konn.QSRubyModule</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>QSRubyModule</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>33</string>
	<key>NSPrincipalClass</key>
	<string>QSRubyModule</string>
	<key>QSActions</key>
	<dict>
		<key>QSRubyModuleAction.eval</key>
		<dict>
			<key>actionClass</key>
			<string>RubyAction</string>
			<key>actionSelector</key>
			<string>act:</string>
			<key>directTypes</key>
			<array>
				<string>*</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>name</key>
			<string>eval (ruby)</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>konn</string>
		<key>categories</key>
		<array>
			<string>Development</string>
		</array>
		<key>description</key>
		<string>eval in ruby</string>
		<key>icon</key>
		<string></string>
		<key>qsversion</key>
		<string>29CC</string>
		<key>relatedBundles </key>
		<array/>
	</dict>
	<key>QSPresetAdditionsTemplate</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetQSRubyModule</string>
			<key>name</key>
			<string>QSRubyModule</string>
			<key>source</key>
			<string>QSRubyModuleSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSRubyModuleAction</key>
			<string>RubyAction</string>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.apple.whatever</key>
			<string>QSRubyModuleSource</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>QSRubyModuleType</key>
			<string>QSRubyModuleSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSRubyModuleSource</key>
			<string>QSRubyModuleSource</string>
		</dict>
		<key>QSPreferencePanes</key>
		<dict>
			<key>QSRubyModule_PrefPane</key>
			<dict>
				<key>class</key>
				<string>PrefController</string>
				<key>description</key>
				<string>Preferences of Ruby Module</string>
				<key>icon</key>
				<string></string>
				<key>name</key>
				<string>Ruby Module</string>
			</dict>
		</dict>
	</dict>
	<key>QSRequirementsTemplate</key>
	<dict>
		<key>bundlesTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
		<key>feature</key>
		<integer>0</integer>
		<key>launchLoad</key>
		<false/>
		<key>pathsTemplate</key>
		<array>
			<string>/path/to/something</string>
		</array>
		<key>pluginsTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
